@font-face { font-family: 'MainFont'; src: url('/fonts/Fira_Sans/FiraSans-Regular.ttf') format('truetype'); }
body { font-family: 'Fira Sans', sans-serif; font-size: 1em; color: #000; line-height: 25px; background-color: #fff; background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%; margin: 0; }
.popup_opened { overflow: hidden; }
h1 { line-height: 10px; }
a, button { text-decoration: none; color: #000; }
a:hover { text-decoration: none; color: #b30000; }
button { font-family: 'Fira Sans', sans-serif; font-size: 1em; background-color: #690000; color: #fff; border: none; cursor: pointer; padding: 10px; }
button:hover { background-color: #b30000; }
label { margin-left: 10px; }
.table { display: table; position: relative; width: 100%; border-collapse: separate; border-spacing: 0px; margin-top: 10px; margin-bottom: 30px; }
.table .td { padding: 10px; }
.table > .td > img { vertical-align: middle; }
.tr .td { border-bottom: 1px solid #cccccc; }
.right { text-align: right; }
#Email, #logout, .welcome { display: block; }
.table .tr:first-child { font-weight: bold; text-align: center; background-color: #690000; color: #fff; }
.tr { display: table-row; }
.td { display: table-cell; }
.table .info_row:hover { background-color: #f2f2f2; -webkit-user-select: none; -webkit-touch-callout: none; }
.table .info_row:hover .select_menu{ display: table-cell; }
.error { color: red; }
.search_error { position: absolute; color: red; top: 40px; left: 85px; }
footer { width: 100%; box-sizing: border-box; background-color: #000; text-align: center; box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2); z-index: 4; color: #fff; padding: 10px 15px 10px 15px; }
.wait { position: fixed; top: 0; left: 0; right: 0; bottom: 0; margin: auto; width: 100px; height: 100px; z-index: 3; background: url('/img/loading7.gif'); }
.popup { position: fixed; top: 0; left: 0; right: 0; bottom: 0; margin: auto; z-index: 5; display: table; width: 100%; height: 100%; }
.inner { display: table-cell; vertical-align: middle; }
.close { position: absolute; top: 0px; right: 0px; margin: 10px; width: 32px; height: 32px; background: url('/img/close.png') center; cursor: pointer; }
.wrapper { box-sizing: border-box; padding: 10px 20px 10px 20px; width: 1300px; margin: 0 auto; background-color: #fff; }
.menu_wrapper { box-sizing: border-box; padding: 0px 20px 0px 20px; width: 1300px; margin: 0 auto; text-align: left; }
.logo { height: auto; }
.home-menu { -webkit-appearance: none; -moz-appearance: none; }
.main { min-height: 100vh; background-color: #fff; }
.content { background-color: #fff; margin-bottom: 30px; }
.artikel_bild { width: 100px; }
.overlay { position: fixed; width: 100%; height: 100%;top: 0; left: 0;right: 0; bottom: 0; z-index: 2; cursor: pointer; }
.overlay.black { background-color: rgba(0,0,0,0.5); }
.overlay.white { background-color: rgba(255,255,255,0.5); }
input[type=search], input[type=text], #filter { font-family: 'Fira Sans', sans-serif; font-size: 1em; box-sizing: border-box; padding: 10px; margin-left: 5px; border: none; background-color: #f2f2f2; background-image: url('/img/scanlines.png'); }
input[type=search] { -webkit-appearance: none; -moz-appearance: textfield; appearance: none; width: 300px; }
input[type=search]::-webkit-search-cancel-button { display: block; }
.hasDatepicker { width: 100px; }
.filter { display: none; cursor: pointer; padding: 10px; background-color: #004d99; color: #fff; }
.search_submit { cursor: pointer; vertical-align: top; background: #690000 url('/img/search-icon.png') center no-repeat; border: none; padding: 11.5px 20px; box-sizing: border-box; }
.search_submit:hover { background-color: #b30000; }
.artikel_col { position: relative; }
.artikel_col > a { display: table-cell; }
.artikel_col > a > div > img { max-width: 100px; max-height: 100px; vertical-align: middle; }
.status_col { position: relative; width: 480px; }
.status_col > img { vertical-align: top; margin-right: 10px; border-radius: 100%; }
header { display: table; width: 100%; margin: 20px 0px 100px 0px; }
header div{ display: table-cell; vertical-align: top; }
header .search { width: 400px; vertical-align: top; }
.center { position: relative; text-align: center; }
.kundeninfo-icon { display: inline-block; vertical-align: top; width: 64px; height: 64px; margin-right: 10px; }
.kundeninfo-icon[data=Herr] { background: url('/img/account_male.png') center no-repeat; }
.kundeninfo-icon[data=Frau] { background: url('/img/account_female.png') center no-repeat; }
.kundeninfo-account  { display: inline-block; line-height: 22px; }
.kundeninfo p { margin: 0px; }
.success, .multi_orders, .confirm, .error_popup { position: relative; box-sizing: border-box; padding: 30px; background-color: #fff; border-radius: 10px; text-align: center; box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2); margin-left: auto; margin-right: auto; }
.multi_orders { width: 600px; }
.multi_orders .item { display: block; }
.success { width: 500px; color: green; background: #fff url(/img/check_16.png) no-repeat 3% 20%; }
.confirm { width: 500px; }
.error_popup { width: 500px; color: red; background: #fff url(/img/error-icon.png) no-repeat 3% 20%; }
.pdf { width: 30px; }
.buttons { margin-top: 30px; }
#menu-button { display: none; background: #fff; color: #690000; padding: 0px 10px 0px 10px; font-size: 30px; }
#menu { display: block; position: absolute; top: 150px; width: 100%; background: #f2f2f2; background-image: url('/img/scanlines.png'); text-align: center; color: #fff; z-index: 2; text-transform: uppercase; }
#menu a { color: #000; display: inline-block; padding: 10px 15px 10px 15px; border-left: 1px solid #fff; }
#menu a:last-of-type { border-right: 1px solid #fff; }
#menu a:hover { cursor: pointer; color: #690000; background-color: #fff; }
#menu a.active { pointer-events: none; cursor: text; color: #fff; background-color: #77121d; }
#order { cursor: pointer; }
#order.disabled { cursor: text; }
.asc > i { position: absolute; top: 20px; border-left: 7px solid transparent; border-right: 7px solid transparent; border-bottom: 7px solid #fff; }
.desc > i { position: absolute; top: 20px; border-left: 7px solid transparent; border-right: 7px solid transparent; border-top: 7px solid #fff; }
#no_results { margin: 0px 0px 30px 0px; text-align: center; }
.item { display: inline-block; background-color: #fff; vertical-align: middle; margin-right: 10px; }
.item_img { display: table-cell; text-align: center; border: 1px solid #e6e6e6; box-sizing: border-box; padding: 5px; }
.item_img:hover { border: 1px solid #690000; }
.artikel_img { display: table-cell; max-width: 100px; max-height: 100px; }
.artikel_info { display: inline-block; width: 60%; vertical-align: middle; }
.artikel_info > p, .artikel_info > span { margin: 0px; }
.top-bar { text-align: right; }
.price { color: #8e0e3c; min-width: 100px; }
.big { font-size: 24px; }
.bold { font-weight: bold; }
.sort_col { position: relative; width: 357px; }
.artikel_col { width: 598px; }
.groesse { min-width: 100px; }
.yes, .no { font-size: 1em; width: 80px; padding: 5px; color: #fff; background-color: #690000; cursor: pointer; }
.loading { position: absolute; left: 140px; top: 75px; margin: 5px;display: inline-block; width: 16px; height: 16px; background: url('/img/loading9.gif') no-repeat; }
.yes:hover, .no:hover { background-color: #b30000; }
.status_col_inner { display: block; width: 100%; }
.status_icon { display: inline-block; vertical-align: middle; }
.status1, .status2 { display: block; }
.status_div { display: inline-block; margin-left: 5px; vertical-align: middle; }
.relative { position: relative; }
.status_action { width: 1260px; color: #fff; cursor: pointer; position: absolute; top: 0px; left: 0px; z-index: 1; white-space: nowrap; }
.status_action > ul { list-style-type: none; padding: 0px; margin: 0px; }
.status_action > ul > li { float: left; background-color: #000; }
.status_action > ul > li > a { display: block; color: #fff; padding: 10px; }
.status_action > ul > li > a:hover { text-decoration: underline; }
.select_menu { cursor: pointer; position: absolute; top: 0px; left: 0px; padding: 0px 5px; display: none; background-color: #690000; color: #fff; }
.select_menu:hover { background-color: #000; }
#myBtn { display: none; position: fixed; bottom: 10px; right: 10px; width: 64px; height: 64px; z-index: 99; opacity: 0.5; background: #fff url('/img/arrow-up.png') center; cursor: pointer; border-radius: 100%; }
.auftrag { vertical-align: top; text-align: center; }
.aktion .artikelnummer { display: none; }
.search_results { display: inline-block; width: 50%; margin-top: 20px; text-align: left; vertical-align: bottom; }
.more-results { display: none; }
.search_wrapper { display: inline-block; width: 50%; text-align: right; }
.flag-de { display: inline-block; padding: 0px; width: 21px; height: 12px; background: url(/img/flags_preview_large.png) 100% 19.5% no-repeat; }
.flag-en { display: inline-block; padding: 0px; width: 21px; height: 11px; background: url(/img/flags_preview_large.png) 100% 29% no-repeat; }
.td.menu { display: none; }
.tr.menu { display: none; height: 45px; }

@media screen and (max-width: 1100px) {
    .tr:first-child { display: none; }
    header, footer, #menu, .top-bar, .wrapper, .search_results, .right, .table, .tr, .td, .logo, .center, .multi_orders, .confirm, .kundeninfo, .kundeninfo-account, .success, .filter, .error_popup, .status_action, .yes, .no { display: block; width: 100%; text-align: center; box-sizing: border-box; }
    input[type=text], #filter { display: block; margin: 5px auto; width: 100%; max-width: 300px; }
    input[type=search] { display: inline-block; width: 75%; margin-bottom: 10px; transition: none; }
    input[type=search]:focus { width: 75%; }
    .search_submit { display: inline-block; }
    label { display: block; }
    .table { display: inline-block; }
    .tr { display: inline-block; max-width: 300px; margin: 10px 0px 10px 0px; border: 1px solid #cccccc; }
    .artikel_col { text-align: left; }
    .artikel_info { width: 50%; text-align: left; font-size: 14px; line-height: 16px; vertical-align: middle; }
    .artikel_info .artikelnummer { display: none; }
    .multi_orders .td { padding: 0px; }
    .multi_orders .item { display: inline-block; }
    .multi_orders .artikel_info { text-align: center; }
    .logo { max-width: 309px; margin: 0px auto; }
    .filter { display: block; background-color: #690000; max-width: 300px; margin: 0px auto; }
    #logout { display: block; background-color: #690000; color: #fff; font-weight: bold; max-width: 300px; margin: 10px auto; line-height: normal; padding: 10px; box-sizing: border-box; }
    .search_wrapper { display: none; width: 100%; line-height: 30px; text-align: center; }
    header { margin: 0px; line-height: 35px; }
    .rowspan:not(:first-child) { display: none; }
    .item_img { border: none; }
    .content { width: 100%; overflow: hidden; }
    .page-item { display: inline-grid; margin: 5px; }
    .page-item > a { padding: 15px; }
    .menu_wrapper { padding: 0px; width: auto; }
    #menu-button { display: block; }
    #menu { display: none; position: relative; top: 10px; }
    #menu a { display: block; padding: 15px; }
    #menu a.active { padding-left: 30px; }
    .select_menu { display: table-cell; width: 10%; position: relative; text-align: left; padding: 0px 10px 0px 10px; }
    .status_action { position: relative; }
    .status_action > ul > li { float: none; }
    .status_col { min-height: 72px; }
    .wait { width: 32px; height: 32px; z-index: 3; background: url('/img/loading8.gif'); }
    .table .aktion { display: table; padding: 0px; background-color: #690000; color: #fff; }
    .aktion .artikelnummer { display: table-cell; padding: 10px; }
    .price, .groesse { display: inline-table; width: 50%; }
    .groesse > span, .price > span { display: table-cell; text-align: right; }
    .price:before { display: table-cell; text-align: left; content: "Preis:  "; color: #003d66; font-size: initial; }
    .groesse:before { display: table-cell; text-align: left; content: "Größe:  "; color: #003d66; font-size: initial; }
    .big { font-size: 20px; }
    .buttons { max-width: 300px; margin: 0px auto; }
    .yes, .no { margin-top: 20px; padding: 10px; }
    header div { display: block; }
    .kundeninfo-icon { margin: 0px auto; }
    .logo-left .home { position: absolute; display: block; top: 10px; left: 60px; width: 250px; }
    .search_error { left: 0px; right: 0px; }
    .flag_label { display: inline-block; vertical-align: middle; }
    .flag-de { display: inline-block; width: 36px; height: 36px; background: url(/img/flag-icons-mobile.png) 47% 93.5% no-repeat; margin-left: 10px; vertical-align: middle; }
    .flag-en { display: inline-block; width: 36px; height: 36px; background: url(/img/flag-icons-mobile.png) 87% 60% no-repeat; margin-left: 10px; vertical-align: middle; }
    .main { min-height: auto; }
    .tr.menu { display: none; }
    .td.menu { display: none; padding: 0; }
}

@media screen and (min-width: 620px){
    .info_row { margin: 10px; }
}
